[submodule "bootstrap"]
	path = bootstrap
	url = git@github.com:jobcat/bootstrap.git
[submodule "pathjs"]
	path = pathjs
	url = git@github.com:jobcat/pathjs.git
[submodule "jquery"]
	path = jquery
	url = git@github.com:jobcat/jquery.git
